/* Full page styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tic Tac Wrapper styling */
.tic_tac_wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* tic tac screen styling */
.tic_tac_screen{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 40px;
}

/* all buttons styling */
button{
    font-weight: bold;
    color: blue;
    font-size: 70px;
    padding: 10px;
    width: 100px;
    height: 100px;
}

/* result */
.result{
    font-size: 50px;
    text-align: center;
}

.reset-button{
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 20px;
    width: auto;
    margin: 15px;
    height: auto;
}

/* Media Query Styling */
@media(max-width:600px){
    button{
        font-size: 40px;
        padding: 6px;
        width: 70px;
        height: 70px;

    }
    .tic_tac_screen{
        grid-gap: 15px;
        padding: 20px;
    }
}
